@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div >
    <button type="button" onclick="location.href='@Url.Action("Jitsi","Home")'">
        Jitsi
    </button>
    <button type="button" onclick="location.href='@Url.Action("JitsiIFrame","Home")'" style="background: green">
        Jitsi IFrame
    </button>
    <button type="button" onclick="location.href='@Url.Action("JitsiWeb","Home")'">
        Jitsi Custom
    </button>
</div>
